.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  width: 200px;
  height: 100%;
  background-color: #f58383;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SidebarList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.row:hover {
  background-color: #bd1d1d;
}

#active {
  background-color: #f5f5f5;
  color: #000;
}

#icon {
  margin-right: 10px;
  font-size: 20px;
}

#title {
  font-size: 18px;
  font-weight: bold;
}

.content {
  margin-left: 200px;
  width: calc(100% - 200px);
  padding: 20px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  }

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  }

.card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  }

.card p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  }

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
